#add-btn {
    cursor: pointer;
    margin-right: 10px;
    padding: 0px 10px;
}

#prj-area {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-right: 25px;
    resize: both;
}

.add-modal-label {
    display: block;
}
.input-container {
    margin-bottom: 10px
}

.prj-name-input {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}