/********** ID SELECTORS ************/
#page-titles {
    font-size: 2.25rem;
}

#rec-card-container {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content:space-between;
}

#about-titles {
    font-size: 24px;
}

/********** CLASS SELECTORS **********/
.top-inner-container{
    height: 345px;
}

.bottom-inner-container{
    height: 345px;
}