@coiny-font: "Coiny", system-ui;

/* CLASS SELECTOR */

.nav-bar{
    box-shadow: 0 0 22px 12px rgb(0 0 0 / 0.25);
    padding: 20px;
    font-family: @coiny-font;
}

.header-title-text {
    font-weight: 400;
    font-style: normal;
}

.nav-bar-title {
    font-weight: 600;
    font-size: 38px;
    padding: 5px;
}
  